<section class="form-section">
  <div class="text">
    <h3>Fique por dentro de tendências</h3>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et hic minima
    cumque officiis ratione dignissimos deleniti ea mollitia ducimus velit illum
    quod cum, autem at error vel in, iure perferendis.
  </p>
  <form>
    <label for="email">Name</label>
    <input id="name" />
    <label for="email">Email</label>
    <input id="email" />
    <btn-primary></btn-primary>
  </form>
</section>
