.services {
  display: flex;
  flex-direction: column;
  width: 100%;

  .info-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .description {
    width: 505px;
    height: 72px;
  }

  h3 {
    color: #0d002e;
    font-size: 32px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }

  .sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    width: 901px;
    height: 140px;
    padding-top: 100px;
  }

  @media (min-width: 1080px) {
    .info-services {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .sub-title {
      padding-top: 300px;
    }
  }
}
