<main class="services">
  <section class="info-services">
    <div class="discription-service1 service">
      <img ngSrc="services1.jpg" width="609" height="588" />
      <div class="description">
        <h3>Equipe capacitada</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
          mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
          mattis ligula consectetur.
        </p>
      </div>
    </div>

    <div class="discription-service2 service">
      <img src="services2.jpg" width="609" height="588" alt="" />
      <div class="description">
        <h3>Seus projetos guiados do zero</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
          aspernatur autem porro? Nostrum, eligendi? Eius dicta saepe optio
          soluta fugiat reiciendis vero vel nihil veritatis a, ipsam, deleniti
          maiores explicabo?
        </p>
      </div>
    </div>

    <div class="sub-title">
      <h2>Quer elevar seu software e seus negócios para outro nível?</h2>
    </div>
  </section>
</main>
